html, body {
    overflow-x: hidden;
}

html{
    margin: 16px;
}

body{
    background-color:white;
}

canvas {
  display: block;
}

.row {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.madlib {
    color: blue;
}

.tippy-content{
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
}

h1,h3,h4,h5,p,input{
  font-family: 'Space Grotesk', sans-serif;
}

h1{
  font-size: 48px;
}