html, body {
    overflow-x: hidden;
}

html{
    margin: 16px;
}

body{
    background-color:white;
    padding:20px;
}

canvas {
  display: block;
}

.container {
    display: flex;
}

.madlib {
    color: blue;
}

.tippy-content{
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
}

h1,h3,h4,p{
  font-family: 'Space Grotesk', sans-serif;
}